/* body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  } */
.padding{
  padding: 10vh, 10vh, 10vh, 10vh;
  justify-content: center;
}

.background {
    background-image: url("../clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
  
    position: fixed;
    right: 0;
    margin: 100px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  

/* input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  } */



.btn {
    background-color: #ff4057;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 75%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity: 2;
  }

.text {
  justify-content: center;
  color: #900048;
}